* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
#root,
body,
.App {
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    width: 60%;
}

.post {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid black;
    .post__title,
    .post__content,
    .post__buttons {
        padding: 10px;
    }
    .post__buttons {
        display: flex;
    }
}

.enter {
    transform: translateX(-350px);
}
.enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}
.exit {
    opacity: 1;
}
.exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.pages-wrapper {
    margin-top: 30px;
    display: flex;
    .page {
        padding: 10px;
        border: 1px solid blue;
        cursor: pointer;
    }
    .current {
        border: 2px solid orange;
        font-weight: bold;
    }
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: rgb(159, 152, 250);
}

.navbar__links {
    margin-left: auto;
    font-size: 20px;
    & * {
        padding: 15px;
    }
}
